@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

:root {
  --px: 0.3rem;

  --text-light: 0.8rem;
}
body {
  margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
.wrap {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 765px) {
    height: auto;
  }
}

.section {
  height: 50%;
  border: 1px solid rgba(0, 0, 0, 0.186);
}

.title {
  margin: 0 auto 0.625rem;
  text-align: center;
  padding: var(--px) 1.25rem;
}

.block {
  display: flex;
  padding: var(--px) 1.25rem;
  &_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input {
      width: 100%;
      padding: var(--px);
      border: 1px solid #999;
      border-radius: 0.25rem;
    }
    label {
      font-size: var(--text-light);
    }
  }

  &_filters {
    flex-wrap: wrap;
    gap: var(--px);
  }
}

/* radio */

.radio {
  position: relative;
  margin: 5px;
  label {
    text-transform: capitalize;
    display: inline-block;
    background-color: #dddddd91;
    padding: 0.75rem 1.25rem;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    border: 1px solid #44444477;
    border-radius: 19px;
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
  }
  input[type="radio"]:focus + label {
    border: 1px solid #2f408e;
  }
  label:hover {
    background-color: #dfd;
    cursor: pointer;
  }
  &_block {
    width: calc(50% - var(--px));
    display: flex;

    flex-direction: column;
    border-radius: 4px;
    @media screen and (max-width: 765px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      text-transform: capitalize;
      margin-block: 8px;
    }

    &_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--px);
    }
  }
}
/* end radio */

/* tag */

.tag {
  background-color: rgba(53, 125, 53, 0.446);
  border: 1px solid rgba(36, 107, 36, 0.664);
  padding: 0.25rem 0.475rem;
  border-radius: 0.625rem;
  margin: 0.3125rem;
  font-size: 13px;
  width: max-content;
  &.error {
    background: #a02121;
    border-color: #b81111;
    margin: 5px auto;
    cursor: pointer;
  }
}

/* list */
section.list {
  overflow-y: auto;
  background: rgb(245 245 247);
}
/* goods */
.good_item {
  display: flex;
  border-bottom: 1px solid #ccc;
  &_action {
    border-radius: 10px;
    width: 100px;
    border: none;
    padding: 5px 2px;
    align-self: flex-end;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 1px #4e4646;
    }
  }
  &_pic {
    width: 20%;

    max-height: 25rem;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
  &_tags {
    display: flex;
  }
  &_body {
    padding: var(--px) 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &_title {
    margin-block: 0.3125rem;
  }
  &_desc {
    line-height: 2;
  }
  &_price {
    text-align: right;
  }
}

/* error box */
.error-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  img {
    width: 24px;
    height: 24px;
    &.load {
      animation: rotation 2s infinite linear;
    }
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  h3 {
    color: #999;
  }
}

/* nav */
nav.nav {
  position: absolute;
  top: 2px;
  left: 2px;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  img {
    width: 23px;
    height: 23px;
  }
}
/* modal */
.modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 20px 20px 20px;

  opacity: 0;
  pointer-events: none;
  &-enter-done {
    opacity: 1;
    pointer-events: auto;
    .modal-content {
      transform: translateX(0);
      transition: 0.3s linear;
    }
  }
  &-exit {
    opacity: 0;
    .modal-content {
      transform: translateX(150%);
      transition: 0.3s linear;
    }
  }
  &-content {
    width: 70%;
    height: 70%;
    background-color: #282c34;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    transform: translateX(150%);
    transition: 0.3s linear;
    border-radius: 5px;
  }
  &-close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

/* cart */
.cart{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  align-items: center;
  &-item{
    display: flex;
    width: 98%;
    flex-direction: column;
    padding: 2px 15px;
    border-bottom: 1px solid #fff;
    &_header {
      display: flex;
      justify-content: space-between;
       
    }
    &_footer {
      display: flex;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
